body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("image.jpg");
  position: relative;
}

h1 {
  text-align: center;
  color: #fff;
}
span{
  color: #FF6600;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  color: #fff;
  background-color: #050505;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quote {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.author {
  font-style: italic;
  color: #fff0f5;
}

button {
  padding: 20px 30px;
  font-size: 20px;
  background-color: #FF6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 45%;
}

button:hover {
  background-color: #0056b3;
}

p{
  text-align: center;
  color: white;
  font-size: 24px;
}